<a href="https://colab.research.google.com/github/seawavve/PeekABook/blob/main/connection_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import pandas as pd
data=pd.read_csv('Entity_Predicted_result.csv')
display(data)

     Unnamed: 0  Unnamed: 0.1  ... predicted_mark       person
0             0             0  ...              0  ['Zobeida']
1             1             1  ...              2  ['Zobeida']
2             2             2  ...              2           []
3             3             3  ...              1           []
4             4             4  ...              1   ['Sultan']
..          ...           ...  ...            ...          ...
167         167           167  ...              1           []
168         168           168  ...              2           []
169         169           169  ...              1  ['Rejoice']
170         170           170  ...              1           []
171         171           171  ...              1  ['Rejoice']

[172 rows x 6 columns]

In [80]:
#등장인물 추출
import ast
persons=[]

for person_line in data['person']:
  person_line = ast.literal_eval(person_line) 
  for p in person_line:
    persons.append(p)
persons=set(persons)
print(persons)
display(data)

{'Wretch', 'Alnaschar', 'Hindbad', 'Whoso', 'Douban', 'Calenders', 'Sadia', 'Heaven', 'O Fortune', 'Mad', 'Sultan', 'Sadie', 'King Armanos', 'Marzavan', 'Rejoice', 'Zobeida', "Aladdin's", 'Alas', 'vizir', 'Grant', 'Saouy', 'Hasten', 'Amina', 'Fisherman'}

     Unnamed: 0  Unnamed: 0.1  ... predicted_mark       person
0             0             0  ...              0  ['Zobeida']
1             1             1  ...              2  ['Zobeida']
2             2             2  ...              2           []
3             3             3  ...              1           []
4             4             4  ...              1   ['Sultan']
..          ...           ...  ...            ...          ...
167         167           167  ...              1           []
168         168           168  ...              2           []
169         169           169  ...              1  ['Rejoice']
170         170           170  ...              1           []
171         171           171  ...              1  ['Rejoice']

[172 rows x 6 columns]

In [81]:
# name1 name2 [0,0,0,0]
import itertools
connection=[]
connections=[]

for p in data['person']:
  p=ast.literal_eval(p)
  if p:
    connection.append(p)
    if len(connection)>2:connection.pop(0)
  c= sum(connection, [])
  connections.append(c)
data['connection']=connections
display(data)
data.to_csv('connection_Predicted_result.csv')

     Unnamed: 0  Unnamed: 0.1  ...       person          connection
0             0             0  ...  ['Zobeida']           [Zobeida]
1             1             1  ...  ['Zobeida']  [Zobeida, Zobeida]
2             2             2  ...           []  [Zobeida, Zobeida]
3             3             3  ...           []  [Zobeida, Zobeida]
4             4             4  ...   ['Sultan']   [Zobeida, Sultan]
..          ...           ...  ...          ...                 ...
167         167           167  ...           []      [Alas, Sultan]
168         168           168  ...           []      [Alas, Sultan]
169         169           169  ...  ['Rejoice']   [Sultan, Rejoice]
170         170           170  ...           []   [Sultan, Rejoice]
171         171           171  ...  ['Rejoice']  [Rejoice, Rejoice]

[172 rows x 7 columns]